@{
    ViewData["Title"] = "Main Page";
}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <div class="ms-auto d-flex">
            <form asp-action="Authorization" asp-controller="Log">
                <button type="submit" class="nav-link btn btn-outline-dark m-1 text-special" >Sign in</button>
            </form>
            <form asp-action="Registration" asp-controller="Log">
                <button type="submit" class="nav-link text-light btn btn-dark m-1">Sign up</button>
            </form>
        </div>
    </div>
</nav>

<div class="text-center">
    <h1 class="display-4">Welcome to my Web-App</h1>
    <a asp-action="Privacy" asp-controller="Home">Privacy</a>
</div>
