@model ModelAuthorization;
<div class="text-center">
	<h1>Registration</h1>
    <form class="row justify-content-center" asp-action="LogUp" asp-controller="Log" method="post">
        <div class="col-6 m-3">
            <input asp-for="login" placeholder="Login" class="form-control" type="text" />
            <span asp-validation-for="login" class="text-danger"></span>
        </div>
        <div class="col-6 m-3">
            <input asp-for="Password" placeholder="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="col-6 m-3 text-center">
            <button type="submit" class="btn btn-outline-dark">Log Up</button>
        </div>
    </form>
    @if (TempData["Message"] != null)
    {
        <script>
            alert('@TempData["Message"]');
        </script>
    }
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</div>